.horizontalScroll {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  align-items: stretch;
  height: 100vh;
  transition: transform 1s;

  & > * {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
